<div class="row">
  <div class="large-12 columns">
    <h1>Plant type</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="large-12 columns">
    <ul class="button-group round">
      <li><%= link_to 'Show', @plant_type, :class => 'button secondary small' %></li>
      <li><%= link_to 'Back', plant_types_path, :class => 'button secondary small' %></li>
    </ul>
  </div>
</div>
