<div class="row">
  <div class="large-12 columns">
    <h1>Plant type</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="large-12 columns">
    <%= link_to 'Show', @plant_type, :class => 'button' %> |
    <%= link_to 'Back', plant_types_path, :class => 'button' %>
  </div>
</div>
