<div class="row">
  <div class="large-12 columns">
<h1>New Hack venue</h1>
</div>
  </div>

<%= render 'form' %>

<div class="row">
  <div class="large-12 columns">
    <%= link_to 'Back', hack_venues_path, :class => 'button secondary small round' %>
  </div>
</div>
