<div class="row">
  <div class="large-12 columns">
<h1>Hack member</h1>
</div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="large-12 columns">
<%= link_to 'Show', @hack_member, :class => 'button' %> |
<%= link_to 'Back', hack_members_path, :class => 'button' %>
</div>
</div>
