<div class="row">
  <div class="large-12 columns">
    <h1>Hack members</h1>
  </div>
</div>


<div class="row">
  <div class="large-4 columns">
    <%= link_to 'New Hack member', new_hack_member_path, :class => 'button' %>
  </div>
  <div class="large-4 columns">
    <%= link_to 'Download excel file', hack_members_path(:format => :xlsx), :class => 'button secondary' %>
  </div>
  <div class="large-4 columns">
    <div class="row collapse">
      <div class="large-10 columns">
        <input type=search id="memberGridtxtSearch" placeholder="Search...">
      </div>
      <div class="large-2 columns">
        <span class="postfix radius"><i class="fi-magnifying-glass"></i></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div id="memberGrid" style="height:500px;">Loading grid...</div>
    </div>
  </div>


<% content_for :late_js do %>
  <script>
    var data    = <%= @grid_data.html_safe %>;
    var columns = <%= @grid_columns.html_safe %>;
    var config  = {editUrl: 'hack_members', edit_column: true, destroy_column: true}

    var thisGrid = new AppGrid('memberGrid', columns, data, config);
    thisGrid.makeSearchEvents(thisGrid, 'memberGridtxtSearch');
  </script>
<% end %>
