<div class="row">
  <div class="large-12 columns">
    <h1>New Hack member</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="large-12 columns">
    <%= link_to 'Back', hack_members_path, :class => 'button secondary small round' %>
  </div>
</div>
