<ul class="right">
      <li class=""><%= link_to 'Hack meets', hack_meets_path %></li>
      <li class=""><%= link_to 'Hack members', hack_members_path %></li>
      <li class=""><%= link_to 'Venues', hack_venues_path %></li>
      <li class=""><%= link_to 'Plant Types', plant_types_path %></li>
</ul>
